.footer{



    background: rgb(56, 185, 194);
}
.informacion{

    font-family: 'Neucha', cursive;
}

.ciudad {
    font-family: 'Neucha', cursive;

}
.telefono{
    font-family: 'Neucha', cursive;
}
.email{

    font-family: 'Neucha', cursive;
}

.texto{

    text-align: center;
    font-family: 'Neucha', cursive;

}
