

.Header-banner{
    background: rgb(56, 185, 194);
   
}

.mr-auto{

    font-family: 'Neucha', cursive;
    
}

.logo{
    
   
    width: 240px; height: 150px;
    display:block;
    margin:auto;

}

