.imagen1{
    width: 550px; height: 320px;
    display:block;
margin:auto;
}
.imagen2{

    width: 550px; height: 320px;
    display:block;
    margin:auto;

}

.imagen3{

    width: 550px; height: 320px;
    display:block;
    margin:auto;

}